@font-face{
    font-family:fontas;
    src: url(./font.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    overflow-x:hidden ;
    background-color: black;
    color: rgb(194, 212, 230);

}
h1{
    font-family:fontas;
    font-size: 14vh;
    text-align: center;
    padding: 18px;
}
footer{
    font-family:fontas;
    font-size: 25px;
    text-align: center;
    background-color: rgb(82, 79, 79);
    padding: 40px 20px ;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(82, 79, 79);

}
li{
    height: 20vh;
    flex-grow: 100;

}

li:hover{
    z-index: 1;
}

li:last-child{
    flex-grow: 0;
}

img{
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    filter: grayscale(100%) brightness(75%) ;
    transition: all 250ms;

}

img:hover{
    filter: grayscale(0%) brightness(100%) ;
transform: scale(1.1);
box-shadow: 0 0 50px 10px black;
}